.back {
  display: flex;
  gap: $space-xs;
  align-items: center;
  width: min-content;
  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.back:hover {
  opacity: 0.5;
}
