.input-wrapper {
  display: flex;
  align-items: center;
  height: 52px;
  min-width: 300px;
  width: 100%;
  background-color: var(--input-bg);
  padding: 0 var(--space-s);
  gap: var(--space-xxs);
  border: solid thin var(--input-border);
}

.input {
  width: 100%;
  height: 100%;
  color: var(--input-text);
  padding: 0;
  font: var(--p-16);
  border: none;
  outline: none;
  background-color: transparent;
}

.input::placeholder {
  color: var(--input-placeholder);
}

.input-wrapper_focused {
  border: solid thin var(--input-border-focus);
}

.input:disabled {
  color: var(--input-text-disabled);
}

.input-icon {
  display: flex;
}
