.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-xxs;
  border: none;
  cursor: pointer;
  font: $button;
  padding: $space-s $space-l;
  background-color: $button-primary-bg;
  color: $button-primary-text;
  height: 52px;
  white-space: nowrap;
  transition: $hover;

  &:hover:enabled {
    background-color: $button-primary-bg-hover;
  }
  &:active:enabled {
    background-color: $button-primary-bg-active;
  }

  &_disabled {
    background-color: $button-primary-bg-disabled;
    cursor: not-allowed;
  }
  &_loading {
    cursor: progress;
  }
}

.spinner__color_inherit {
  color: inherit;
}
