.clamped-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.view_title {
  font: var(--title);
}

.view_button {
  font: var(--button);
}

.view_p-20 {
  font: var(--p-20);
}

.view_p-18 {
  font: var(--p-18);
}

.view_p-16 {
  font: var(--p-16);
}

.view_p-14 {
  font: var(--p-14);
}

.weight_bold {
  font-weight: 700;
}

.weight_medium {
  font-weight: 500;
}

.weight_normal {
  font-weight: 400;
}
