.view {
  &_title {
    font: $title;
  }
  &_button {
    font: $button;
  }
  &_p-20 {
    font: $p-20;
  }
  &_p-18 {
    font: $p-18;
  }
  &_p-16 {
    font: $p-16;
  }
  &_p-14 {
    font: $p-14;
  }
  &_h-32 {
    font: $h-32;
  }
}

.weight {
  &_bold {
    font-weight: 700;
  }
  &_medium {
    font-weight: 500;
  }
  &_normal {
    font-weight: 400;
  }
}

.color {
  &_primary {
    color: $text-primary;
  }
  &_secondary {
    color: $text-secondary;
  }
  &_accent {
    color: $text-accent;
  }
}

.max-lines {
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
