.main {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - $header-height);
}

.links {
  display: flex;
  gap: $space-xxs;
}

.link {
  text-decoration: none;
  color: $text-secondary;
  &_active {
    color: $text-primary;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: $space-l;
  width: 100%;
  max-width: 600px;
}

.container {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  width: min(100%, 600px);
  gap: $space-l;
  padding: 0 $whole-page-padding;
  box-sizing: content-box;
  justify-self: center;
  margin: 25vh auto 0;
}

.video {
  object-fit: cover;
  width: 50vw;
}
