@import "variables/variables.scss";
@import "./Roboto/fonts";

html,
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  background-color: $background;
  color: $black;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  /* :root {
  } */
}
