.container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 100%;
  transition: $hover;
}

.container:hover {
  box-shadow: $shadow;
}

.cover {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
  background-color: $card-image-bg;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: $space-l;
  background-color: $card-bg;
  padding: $space-xl $space-xs;
  &_small {
    padding: $space-m $space-xs;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: $space-xxs;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
}

.favorite {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 52px;
  height: 52px;
  color: $brand;
}

.action {
  display: flex;
}
