.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  padding: $space-m $whole-page-padding;
  border-bottom: thin solid $header-border;
  z-index: $header;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: $content-max-width;
}

.menu {
  list-style: none;
  display: flex;
  gap: $space-xl;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: $space-m;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  color: $text-primary;
  &:hover {
    color: $text-secondary;
  }
}

.link {
  text-decoration: none;
}

.page_active {
  text-underline-offset: 45px;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: $text-accent;
  color: $text-accent;
  font-weight: 500;
}
