.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  padding: $space-m $whole-page-padding;
  border-bottom: thin solid $header-border;
  z-index: $header;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: $content-max-width;
}

.menu {
  list-style: none;
  display: flex;
  gap: $space-xl;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.buttons {
  display: flex;
  gap: $space-m;
  min-width: 92px;
}

.button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  color: $text-primary;
  &:hover {
    color: $text-secondary;
  }
}

.indicator {
  position: absolute;
  top: 6px;
  right: 8px;
  width: 6px;
  height: 6px;
  border-radius: 8px;
  background: red;
  outline: solid 2px white;
}

.glow {
  background: radial-gradient(circle, rgba(255, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 80%);
  position: absolute;
  top: -5px;
  left: -5px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
}

.link {
  text-decoration: none;
}

.page_active {
  text-underline-offset: 45px;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: $text-accent;
  color: $text-accent;
  font-weight: 500;
}
