$brand: #518581;
$brand-dark: #487773;
$brand-light: #86aaa7;
$white: #ffffff;
$black: #000000;
$darkgray: #afadb5;
$gray: #d9d9d9;
$white-50: rgba(255, 255, 255, 0.5);
$black-20: rgba(0, 0, 0, 0.2);
$black-60: rgba(0, 0, 0, 0.6);
$background: #fafafa;
$header-border: #f3f3f3;
$red: #ff6464;
