$loader-bg: $brand;
$button-primary-bg: $brand;
$button-primary-text: $white;
$button-primary-bg-hover: $brand-light;
$button-primary-text-hover: $white;
$button-primary-bg-disabled: $gray;
$button-primary-text-disabled: $white;
$button-primary-bg-active: $brand-dark;
$button-primary-text-active: $white;
$text-primary: $black;
$text-secondary: $darkgray;
$text-accent: $brand;
$input-text: $black;
$input-bg: $white;
$input-placeholder: $darkgray;
$input-border: $white;
$input-bg-focus: $white;
$input-border-focus: $brand;
$input-text-focus: $black;
$input-bg-disabled: $white;
$input-border-disabled: $white;
$input-text-disabled: $black-20;
$checkbox-bg: $white;
$checkbox-border: $white;
$checkbox-bg-hover: $white;
$checkbox-border-hover: $brand;
$checkbox-bg-disabled: $white-50;
$checkbox-border-disabled: $white;
$checkbox-check: $brand;
$checkbox-check-hover: $brand;
$checkbox-check-disabled: $black-20;
$card-image-bg: $gray;
$card-bg: $white;
$dropdown-options-bg: $white;
