input[type="checkbox"] {
  position: absolute;
  appearance: none;
}

.checkbox {
  display: inline-flex;
  color: $brand;
  width: 40px;
  height: 40px;
  padding: 2px 0 0 0;
  background-color: $checkbox-bg;
  border: solid thin $checkbox-border;
  cursor: pointer;
  align-items: center;
  justify-content: center;

  &_hover {
    border: solid thin $checkbox-border-hover;
  }

  &_disabled {
    background-color: $checkbox-bg-disabled;
    border: solid thin $checkbox-border-disabled;
    color: $checkbox-check-disabled;
    cursor: not-allowed;
  }
}
