.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: min(80vw, $content-max-width);
}

.details {
  display: flex;
  flex-direction: column;
  gap: $space-xl;
  justify-content: space-between;
  padding: $space-xl;
}

.info {
  display: flex;
  flex-direction: column;
  gap: $space-m;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: $space-m;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: $space-m;
  align-items: center;
}

.price {
  display: flex;
}

.link {
  display: flex;
  font: $button;
  align-items: center;
  text-decoration-line: none;
  color: $text-primary;
  transition: $hover;
  &:hover {
    color: $text-secondary;
  }
}

.handle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: $background;
  color: $gray;
  transition: $hover;
  &:hover {
    cursor: grab;
    color: $darkgray;
  }
  &:active {
    cursor: grabbing;
  }
}
