.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-s;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.button,
.item__button {
  padding: 0;
  background: transparent;
  border: none;
  color: $black;
  cursor: pointer;
}

.item {
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    &_active {
      background-color: $brand;
      color: $white;
    }
  }
}
