.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px $whole-page-padding 48px;
  gap: $space-xl;
  max-width: $content-max-width;
  margin: 0 auto;
  box-sizing: content-box;
}
