.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px var(--whole-page-padding) 48px;
  gap: var(--space-xl);
  max-width: var(--content-max-width);
  margin: 0 auto;
  box-sizing: content-box;
}
